@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

/*  рассылка  */

.subscribe{
    background-color: #00acee;
    padding: 20px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span{
    color: white;
    font-size: 28px;
    font-weight: 600;
}
 
input{
    font-family: 'Comfortaa', cursive;
    color: #00acee;
    font-weight: 600;
    height: 20px;
    border-radius: 20px;
}

input:focus{
    background-color:#e3f1fc;
}
.subscribeP{
    color: #e3f1fc;
}

/*  шапка  */

header{
    display: flex;
    padding: 20px;
    background-color: #00acee;
}

.logo:active{
    transform: rotate(360deg);
    animation: wobble 2s 2;

}

.logo{
    transition: transform 1s;
    animation-timing-function: ease-out;
    width: 20%;
    height: auto;
    object-fit: contain;
    transition: transform 1s;
    animation: wobble 2s 1;
}

nav{
    margin-right: 10%;
    font-size: 24px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-right: 20px;
}

.menu{
    text-decoration: none;
    color: #00acee ;
}

.menu:visited{
    color:#777777;
}

/*  main  */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.line{
    width: 55%;
    height: 2px;
    background-color: #00acee ;
}

.text::first-letter{
    color:#ff5311;
    font-size:24px;
}

article{
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.card{
    width:20%;
}

.img{
    width: 100%;
    transition: transform 2s;
}

.img:hover{
    transition:all 1s ease;
    transform:scale(1.2);
}

.text{
    background-color:#00acee ;
    color:white;
    max-width: 100%;
    padding: 15px;
}

/*  footer  */

footer{
    background-color: rgb(233, 233, 233);
    color:#777777;
    padding-top: 50px;
    padding-bottom: 20px;
}

.group{
    display: flex;
    justify-content: space-evenly;
}

.footerA1{
    color: #db0c0c;
    text-decoration: none;
    font-weight: 900;
}

.footerA{
    color:#0ab6e0 ;
    text-decoration: none;
    font-weight: 900;
}

.footerP{
    margin-left: 30px;
}
.footerA:visited{
    color:#777777;
}
li:first-child:hover{
    animation: move1 3s 3;
    animation-timing-function: ease-out;
}
li:nth-child(2n):hover{
    animation: move2 3s 3;
    animation-timing-function: ease-out;
}
li:last-child:hover{
    animation: move3 3s 3;
    animation-timing-function: ease-out;
}
@keyframes move1 {
    0%   { background-color: #ff5311; }
    100% { background-color: #00acee;}
}
@keyframes move2 {
    0% { background-color: #f81919; }
    50% { background-color: #00acee;}
    70% { background-color: #ff04dd; }
    75% { background-color: #73ff00; }
    100% { background-color: #562ca3; }
}
@keyframes move3 {
    0%   { transform: rotate(180deg);}
    30% { transform: scale(1.5); }
    50% { transform: scale(1.5); }
    70% { transform: scale(1.5); }
    100% { transform: scale(1);}
}
.card1{
    width:20%;
    animation: moveCard 2s 1;
}
.card2{
    width:20%;
    animation: moveCard 2s 1;
}
.card{
    width:20%;
    animation: moveCard 2s 1;
    object-fit: cover
}
@keyframes moveCard{
    0%   { margin-top: 100vh;}
    100% { margin-top: 0;}
}
.adv{
    width: 200px;
    height: 300px;
    padding:5px;
    background-image: url(../images/реклама.jpg);
    background-size: cover;
    position: absolute;
    left:0;
    bottom: 0;
    animation: advMove 3s 1;

    animation-timing-function: ease-in;
}
@keyframes advMove {
    0%   { margin-left: -200vw;}
    100% { margin-left: 0;}
}
h2{
    font-size: 20px;
}

/* планшеты горизонтально */
@media (min-width: 992px) and (max-width: 1199px) {
    .card{
        width:30%;
    }
}

/* планшеты вертикально */
@media (min-width: 768px) and (max-width: 991px) {
    input{
        max-width: 100px;
    }
    main{
        min-height:65vh;
    }
    .card{
        width:30%;
    }
}

/* телефоны горизонтально */
@media (max-width: 767px) {
    span{
        font-size: 20px;
    }
    input{
        max-width: 100px;
    }
    header,article{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
        padding-bottom: 10px;
    }
}

/* телефоны вертикально */
@media (max-width: 480px) {
    header{
        flex-direction: column;
    }
    nav{
        margin-right:0;
    }
    li{
        margin-right: 5px;
    }
    .card{
        width: 70%;
    }
    .group{
        flex-direction: column;
        padding-left:5px;
    }
    .logo{
        width:30%;
    }
}
.sa{
    display: flex;
    color: #00acee ;
    margin: 20px;
}